[Unit]
Description=Arroyo
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /srv/arroyo/arroyo.py
EnvironmentFile=/etc/environment
WorkingDirectory=/srv/arroyo
User=chris

[Install]
WantedBy=multi-user.target
